body {
    color: #656565;
}

.navbar,
.footer{
    background: black;
}

.s-footer__linklist {
    list-style: none;

}

/*/---- Section Footer ----/*/
footer {

    margin-bottom: 0%;
    color: #ff0076;
}