

.barraSeccion {
    margin-top: 2%;
   font-size: 20px;
}

#hSecciones {
    margin-top: 5%;
    color: black;
}

#tituloSeccion {
    color: black;
    margin-top: 5%;
    /* background-color: blueviolet; */

}