/* body{
    font-family: 'Roboto Slab', serif;
} */

header{
    background: black ;
    color: #ffffff;
}


.contHeader{
margin-top: 5%;

}
.titHeader{
    font-family: "Roboto Slab Bold"; 
    font-size: 55px;
}

.hoyHeader{
    color: #ff0076 !important;
    font-family: "Roboto Slab Bold";
    font-size: 45px;
    margin-bottom: -0.5rem !important;
}

.vlImgTxt{
    border-left:  0.1rem solid  #ff0076;
    height: 35px;
}


header h3, header h5{
    font-family: "Roboto Light";
}



.bodyAgenda{
    background-color: #F4FBFA;
}


/*/----Calendario----/*/
.calendario, .eventAnt, .eventProx  {
    background-color:#fff;
    width: 90%;
}



#calendar caption {
    color:black;
    font-weight:bold;
    font-size:medium;
}


#calendar caption div:nth-child(1) {float:center;}
#calendar caption div:nth-child(2) {float:center;}
#calendar caption div:nth-child(2) a {cursor:pointer;}

#calendar th {
    color:black;
}

#calendar td {
    text-align:center;
    /* padding:2px 4px; */
}


#calendar .hoy {
    background-color:#ff0076;
    color: #fff;
    border-radius: 200px 200px 200px 200px;
/*  -moz-border-radius: 200px 200px 200px 200px; */
  /*   -webkit-border-radius: 200px 200px 200px 200px; */
}

/*/---Notas----/*/
.nota1, .nota2, .nota3, .nota4{
    background-color: #fff;
}


.col-5{
  padding-left: 0 !important;  
}

.col{
    padding-left: 0 !important;  
  }


  #btnInscribir{
      text-decoration: underline;
color:  #ff0076;

    font-family: "Roboto Condensed";
font-size: 22px;

}

#botonAgregaE1 , #botonAgregaE2, #botonAgregaE3, #botonAgregaE4{
    background-color: #8DD853;
    margin-top: 18%;
    color: #fff;   
}

#botonQuitaE1 , #botonQuitaE2, #botonQuitaE3, #botonQuitaE4{
    color: #8DD853;
    border-color: #8DD853;
    background-color: #fff;
    margin-top: 30%;
    
}

.resaltaDyH {
    color: #23ACA2;
    font-size: 45px;
    font-weight: bold;
    font-family: "Roboto Bold";
}

.comoLlegar{
    color: #8DD853;
    margin-top: 45%;
    text-decoration: #8DD853;
    font-weight: bold;
    /* text-decoration: underline; */
    font-family: "Roboto Bold";
}


.mesEv{
    font-family: "Roboto Slab";
    font-size: 24px;
}

th{
    font-family: "Roboto Medium";  
}

.proxEvents{
       font-family: "Roboto Medium";
}

#listaEventprox{
    font-size: 13px;
    font-family: "Roboto Medium";
    /* list-style-position: inherit; */
    /* url("/public/Recursos/AGENDAHOY/Imagenes/Vector60.png") */
}

li {
margin-left: 0em carouselHeaderHome;
color: #8DD853;
}

.noList{
    color: black;
}

ul{
    padding-left: 0em;
}

.titEvn{
    font-family: "Roboto Slab Bold";
}

.notEvnt{
    font-family: "Roboto Regular";
}


.inscribirse{
    font-family: "Roboto Slab Bold";
}

.pagNum{
    font-family: "Roboto Bold";
    color: black;
}