.bodyColabora{
background-color: #ddf7f5;
}

.modal{
background-image: url("/public/Recursos/POPUP/Imagenes/Group\ 117b.png");
background-repeat: no-repeat;
background-size: 100%;
} 

.textVerde{
color: #8DD853;
}

