.bodyComprar{
    background-color: #ddf7f5;
    margin-top: 4%;
}

/*/---Notas----/*/
.revistas, .carrito, .compradas{
    background-color: #fff;
    padding: 2% 4%;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
}

.botonComprar {
    background-color: #8dd853;
    border-radius: 5px;
    color: #ffff;
    align-items: center;
}


.fechaRevista{
    color: #23ACA2;
}


.hrOriginal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 100%;
    margin-left: 0rem;
}
