body{
    font-family: 'Roboto Slab', serif;
}

.bodyComprar{
    background-color: #ddf7f5;

}

/*/---Bloque Izq----/*/
 .bloqueIzq{
margin-left: 5%;
}  

/*/---Notas----/*/
.revistas, .carrito, .compradas{
    background-color: #fff;
    padding: 2% 1%;
    border-radius: 50px 50px 50px 50px;
/*     -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px; */
}

.botonComprar {
    background-color: #8dd853;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    font-family: "Roboto Slab Bold";
}

.btnCompCarrito{
color: #8dd853;
text-decoration-line: underline;
font-weight: bold;
}


.fechaRevista{
    color: #23ACA2;
    font-family: "Roboto Regular";

}

.desRevistas{
    font-family: "Roboto Regular";
}

.hrOriginal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 100%;
    margin-left: 0rem;  
}


.logoRevista{
    width: 8px;
    height: 8px;
}

#carrito{
 color: #8dd853 ;
    border: 1.3px solid  #8dd853;
}

.hrCarrito{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1.3px solid rgba(141, 216, 83,1);
    width: 100%;
    margin-left: 0rem;

}

.txtGris{
font-size: 12px;
font-family: "Roboto Regular";

}

.imagenCarrito{
    /* height: 100%; */
    width: 50%;
/*     padding: 3%; */
}

.imagenDeRevista{
    height: 80px;
    width: 80px;
    padding: 10px;
    font: outline;
}


.nombreDeRevista{
    font-weight: bold;
    font-family: "Roboto Slab Bold";
}


.datosDeRevista{
    color: black;
    font-family: 'Roboto Slab', serif;
    font-size: 13.5px;
}

.precioRevista{
    color: grey;
}


.precio{
    color: grey;
    font-family: "Reforma2018 Gris";

}


.listaCarrito{
    margin: 0px 0px;
    padding: 0px 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 13.5px;
}

.txtCuadrito{
    font-family: "Roboto Slab Bold";

}

.titRev{
    font-family: "Roboto Slab Bold";
}

.pagNum{
    font-family: "Roboto Bold";
    color: black;
}
