*{
    font-family: "Roboto Slab Bold";
}

.vl {
    border-left: 1px solid #ffff;
    height: 100%;
  }


  .logoFace, .logoTw, .logoInsta{
      width: 12%;
      height: 12%;
  }

  .logoFace{
      margin-top: -3%;
  }

  .entrarF{
      padding-left: 5px;
      padding-right: 10px;
  }

.derechosReservados{
    font-size: 71%;
}
