/* 
body{
    font-family: 'Roboto Slab', serif;
} 

 */


.destacadas,
.carouselHome,
.headerIndex {
    background: black;
}


/*/ ---- Header Index----/*/
.notasIndex {
    background-color: black;
    color: #ffff;
}

.secciones {
    color: #23ACA2;
font-weight: bold;
font-family: "Roboto Slab Bold";

}




.textoNotas2{
    position: absolute;
    top: 150px;
}
.textoNotas1, .textoNotas3{
    position: absolute;
    top: 380px;
}

.nota1 {
    background-image: url("..//images/home1_sinhover.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.nota1:hover {
    background-image: url("..//images/home1_conhover.png");
    color: grey;
    background-size: 100%;
    background-repeat: no-repeat;
}

.nota2 {
    background-image: url("../images/home2_sinhover.png");
    background-size: 100%;
    background-repeat: no-repeat;
    

}

.nota2:hover {
    background-image: url("..//images/home2_conhover.png");
    color: grey;
    background-size: 100%;
    background-repeat: no-repeat;
}

.nota3 {
    background-image: url("../images/home3_sinhover.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.nota3:hover {
    background-image: url("../images/home3_conhover.png");
    color: grey;
    background-size: 100%;
    background-repeat: no-repeat;
}



/*/---- Mas vistas ----/*/
.masVistas{
    font-family: "Roboto Slab Bold";

}


.titNotaMV{
    font-family: "Roboto Slab Bold";
}


.resumenNota{
    font-family: "Reforma2018 Gris";
}

/*/---- Carousel ----/*/

.carouselHomel {
    position: relative;
    margin-top: 20%;
}

.tituloCarrusel {
    font-family: "Roboto Slab Bold";
    font-weight: bold;

    color: #23ACA2;
    ;
}

.tituloNotaCarrusel {
    font-family: "Roboto Slab Bold";

    font-weight: bold;
    color: #ffff;
}

.textoEvento {
    margin-left: 15%;
}

.botonCarrusel {
    background-color: black;
    color: #ffff;
    border-radius: 5px;
    border-color: #23ACA2;
    font-family: "Roboto Slab Bold";
}

.imgCarrusel {
    width: 90%;
    height: 90%;
}

.colorTxtEvnt{
    font-family: "Roboto Regular";
   color: rgba(192, 192, 192, 0.9)  ; 

}


/*/---- Section App ----/*/

.tituloApp, .descApp {
    font-family: "Roboto Slab Bold";
}


#txtApp{
    font-family: "Roboto Light";
}

.appStore {
   background-image: url("../images/fondo_publicidad.png");
    background-repeat: no-repeat;
 background-size: 100%;  

/*  background: url("../images/fondo_publicidad.png") no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; */
}
 
 /* @media only screen and (max-width: 767px) {
    .appStore {      
  
 background: url("../images/fondo_publicidad.png") no-repeat ;
 -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 background-size: 100%;
 }
    } */



    @media (min-width: 576px) {
        .appStore {
            background: url("../images/fondo_publicidad.png") no-repeat cover cover cover;
            background-size: 120%;
       /*    max-width: 540px; */
        }
      }
      
      @media (min-width: 768px) {
        .appStore {
            background: url("../images/fondo_publicidad.png") no-repeat cover cover cover;
            background-size: 120%;
 /*          max-width: 720px; */
        }
      }
      
      @media (min-width: 992px) {
        .appStore {
            background: url("../images/fondo_publicidad.png") no-repeat right;
            background-size: 90%;
       /*    max-width: 960px; */
        }
      }
      
      @media (min-width: 1200px){
        .appStore {
            background: url("../images/fondo_publicidad.png") no-repeat cover ;
            background-size: 75%;
        /*   max-width: 1140px; */
 
        }
      }

.botonApp {
    background-color: #ff0076;
    border-radius: 5px;
    color: #ffff;
    align-items: center;
    font-family: "Roboto Slab Bold";
    padding: 1% 1% 1%;
    pa
    
}

.imgAppPlayStore {
    width: 14%;
    height: 14%;
}

.imgAppStore {
    width: 14%;
    height: 14%;
}

.hrMvHome{
      margin-left: 0.1rem;
width: 20%;
}




