header{
    background-color: #000000;
}

.destacadas,
.carouselHome{
    background: black;
}

/*/---- HEADER ----/*/

.cuadrado {
    width: 40%; 
    height: 100%; 
    background: #000000;
    opacity: 80%;
    z-index: 100;
    padding: 5%;
}

.secciones {
    color: #ffffff;
    font-family: "Roboto Light";
    font-size: 25px;
    
}

.tituloNotaHeader{
    font-family: "Roboto Slab Bold";
    font-size: 50px;
}

.nota1{
    width: 33%;
}

.nota2{
width: 55%;
}

.notasHeader{
    position: absolute;
margin-bottom: 12%;
}

/*/---- Mas vistas ----/*/
.masVistas {
    font-family: "Roboto Slab Bold";
    text-align: center;
}

.titNotaMV {
    font-family: "Roboto Slab Bold";
}

.resumenNota {
    font-family: "Reforma2018 Gris";
}

.divLeidas{
    width: 20%;
    border-top: 0.6rem solid #23ACA2;
/*     margin-right: 50%; */
  }

  .vlCont {
    border-left: 2.5px solid #7E7E7E;
    opacity: 0.1;
    height: 100%;
  }

  .seccion{
        font-family: "Roboto Slab Light";   
        color: #7E7E7E;
        font-size: 17px;
}
/*/---- Carousel ----/*/

.carouselHomel {
    position: relative;
    margin-top: 20%;
}

.tituloCarrusel {
    font-family: "Roboto Slab Bold";
    font-weight: bold;
    color: #23ACA2;
    ;
}

.tituloNotaCarrusel {
    font-family: "Roboto Slab Bold";
    font-weight: bold;
    color: #ffff;
}

.textoEvento {
    margin-left: 8%;
}

.botonCarrusel {
    background-color: black;
    color: #ffff;
    border-radius: 5px;
    border-color: #23ACA2;
    font-family: "Roboto Slab Regular";
}

.imgCarrusel {
    width: 100%;
    height: 90%;
    margin-left: 20%;
}

.colorTxtEvnt {
    font-family: "Roboto Regular";
    color: rgba(192, 192, 192, 0.9);
}


/*/---- Section App ----/*/
.tituloApp,
.descApp {
    font-family: "Roboto Slab Bold";
}

#txtApp {
    font-family: "Roboto Light";
}

.appStore {
    background-image: url("../images/fondo_publicidad.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: 8%;
}


.botonApp {
    background-color: #ff0076;
    border-radius: 5px;
    color: #ffff;
    align-items: center;
    font-family: "Roboto Slab Bold";
    padding: 1% 1% 1%;
}

.botonAplicacionWeb {
    margin-top: 22%;
    margin-bottom: 4%;
}


.imgAppPlayStore {
    width: 13%;
    height: 13%;
}

.imgAppStore {
    width: 13%;
    height: 13%;
}

.hrMvHome {
    margin-left: 0.1rem;
    width: 20%;
}


