.fondoSesion{
    background-image: url("..//images/fondoInicioSesion.png");
background-size: 83%;
    background-repeat: no-repeat;
}

.prueba{
    color: red;
}


.txtVerde{
    margin-top: 17%;
    color: #8DD853;
    font-size: 21px;
    font-family: "Reforma2018 Negra";
}

.btnEntrarGoogle{
    background-color: #8DD853;
    border-radius: 5px;
    color: #ffff;
    align-items: center;
    padding: 6px;
    width: 30%;
font-family: "Roboto Slab Bold";

}

.btnCorreo{
    font-family: "Roboto Slab Bold";
}

.subrayar{
    text-decoration: underline;
    font-family: "Roboto Regular";

}