body {
    color: #656565;
}

.navbar,
.footer {
    background: black !important;
}

.s-footer__linklist {
    list-style: none;
}

/*/---- Section Footer ----/*/
#redesFooter {
    color: #ff0076;
}

/*/---- Modal ----/*/

    
    .textVerde{
    color: #8DD853;
    margin-top: auto;
    margin-left: 10%;
    font-size: 20px;
    margin-top: 60%;
    }
    
    .btnAhoraNo{
        background-color: #8DD853;
        border-radius: 5px;
        color: #ffff;
        align-items: center;
        padding: 8px;
        width: 30%;
        margin-left: 20%;
        position: relative;
    }
    
    .txtCenter{
        position: relative;
        margin-left: 30%;
        margin-top: 10px;
    }