body {
    color: #656565;
    font-family: 'Roboto Slab', serif;
}

.navbar,
.footer {
    background: black !important;
}

.s-footer__linklist {
    list-style: none;
}

/*/---- Section Footer ----/*/
#redesFooter {
    color: #ff0076;
}

/*/---- Modal ----/*/

    
    .textVerde{
    color: #8DD853;
    margin-top: auto;
    margin-left: 10%;
    font-size: 21px;
    font-family: 'Reforma 2018';
    }
    
    .btnAhoraNo{
        background-color: #8DD853;
        border-radius: 5px;
        color: #ffff;
        align-items: center;
        padding: 8px;
        width: 30%;
 margin-left: 18%;
 font-size: 18px;
 font-family: 'Roboto Slab', serif !important;

    }
    
    .txtCenter{
        position: absolute;    
        font-size: 18px;
        font-family: 'Roboto Slab', serif !important;   
         margin-left: 23%;
    }