body{
    font-family: 'Roboto Slab', serif;
}

.bodyAgenda{
    margin-top: 4%;
}

.btnEnviar{
    background-color: #ff0076;
    border-radius: 5px;
    color: #ffff;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
   padding-top: 1%;
   padding-bottom: 1%;
}


.mensaje{
    margin-top: 10%;
}