*{
    font-family: "Roboto Slab Bold";
    color: #7E7E7E;
}
/* 
.bodyMandaTuDuda{
    margin-left: 3vw;
} */

.form-control{
    font-family: "Roboto Regular";
    color: #7E7E7E;
}

.bodyAgenda{
    margin-top: 5%;
} 

.btnEnviar{
    background-color: #ff0076;
    border-radius: 5px;
    color: #ffff;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
   padding-top: 1%;
   padding-bottom: 1%;
   font-family: "Roboto Slab Regular";
}

.mensaje{
    margin-top: 10%;
}
.vlCont {
    border-left: 1.5px solid #7E7E7E;
    opacity: 0.1;
    height: 100%;
  }

.logoTwC,
.logoInstaC {
    width: 6%;
    height: 6%;
}

.logoFaceC{
    width: 3%;
    height: 3%;
}

.email{
color:  #7E7E7E;
}