.etiquetasNota{
    color: #8DD853;
    text-align: center;
}

.profesion{
    color: #23aca2;
}

.notaDerecha{
    font-size: 14px;
}

.notasRelacionadas{
    color: #8DD853;
}

li{
    list-style:none
}

.divDer{
    width: 120%;
    border-top: 0.18rem solid  #ff0076;
  }

  .btnComen{
    border-radius: 77px 77px 77px 77px;
    -moz-border-radius: 77px 77px 77px 77px;
    -webkit-border-radius: 77px 77px 77px 77px;
    border: 0.05rem solid #c7c7c7;


  }