.tituloNota{
    font-family: "Roboto Slab Bold";
    font-weight: bold;
    font-size: 50px;
}


.secTitulo{
    margin-left: 17%;
}

.etiquetasNota{
    font-family: "Roboto Regular";
    color:   #ff0076;
    text-align: left;
    font-size: 19px;
}

.iconNotas{
    width: 75%;
    height: 65%;
}


.iconNotasInferior{
    width: 90%;
    height: 90%;
}

.logoTwI, .logoFbI{
width: 70%;
height: 70%;
}


.autorNota{
    font-family: "Roboto Slab Bold";
}

.profesion{
    position: absolute;
    margin-top: -7%;
    font-family: "Roboto Slab Regular";
    color: #23aca2;
}


.notaDerecha{
    font-size: 13px;
    font-family: "Roboto Slab Light";
}

.txtNota{
    font-family: "Reforma2018 Blanca";  
    font-size: 16px;
}

.txtRedes{
    font-family: "Reforma2018 Negra";
}

.notasRelac{
    font-family: "Roboto Slab Bold";
    font-weight: bold;
    color: #000000;
}

li{
    list-style:none
}

.divDer{
    width: 50%;
    border-top: 0.4rem solid  #ff0076;
  }
  
  .divDerVerde{
    width: 120%;
    border-top: 0.18rem solid  #8DD853;
  }

.imgDer{
    width: 20vw;
    margin-left: -8%;
} 

.imgArticulo{
    width: 100%;
}

.compartirInferior{
    margin-top: 22%;
}

 .notasRelacionadas{
    margin-top: 140%;
 }

  .btnComen{
    border-radius: 80px 80px 80px 80px;
/*     -moz-border-radius: 77px 77px 77px 77px;
    -webkit-border-radius: 77px 77px 77px 77px; */
    border: 0.05rem solid #c7c7c7;
    padding: 7px 18px 7px 18px;
  }

  .hrComent{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3.5px solid rgba(0,0,0,.1);
    width: 100%;
    margin-left: 0rem;  
}

.tiempoComent{
    font-size: 11px;
 /*    font-family: 'Roboto Slab', serif; */
}
.nombreComentario{
/*     font-family: 'Roboto Slab', serif; */
}

/* ---Miga de Pan--- */
.linkMiga{
    color: #6c757d;
}

.vlNota {
    border-left: 1.5px solid #7E7E7E;
    opacity: 0.1;
    height: 1680px;
    margin-left: 45%;
  }

.imgComentario{
width: 30%;
height: 30%;
  }

  .seccNota{
    color:  #7E7E7E;
  }

  .msec{
    font-family: "Roboto Slab Light";
  }