body{
  font-family: 'Roboto Slab', serif;
}



.bodyAgenda{
  background-color: #f4fbee;
}

.perfil{
    background-color: #fff;
/*     padding: 4% 6%; */
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}

.vl {
    border-left: 1.8px solid rgba(0,0,0,.1);
    height: 100%;
  }


  .hrPerfil{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1.8px solid rgba(0,0,0,.1);
    width: 100%;
    margin-left: 0rem;
  }


  .hrOriginal{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    width: 100%;
    margin-left: 0rem;
   
}


#premium{
    border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border: 2px solid  #ff0076;
    color:  #ff0076;
}

.aceptarTerminos{
  text-decoration: underline;
}

#premiumRechaz , #premiumUnir{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid  #ff0076;
  color:  #ff0076;
  padding-top: 1%;
  padding-bottom: 1%;
padding-left: 3%;
padding-right: 4%;
}



#carpetas:active, #carpetas:hover, #eventos:active, #eventos:hover, #favs:active, #favs:hover {
  background-color: #8DD853;
  color: #fff;
  width: 100%;
  height: 100%;
}

#premium:active, #premium:hover, #premiumRechaz:active, #premiumRechaz:hover, #premiumUnir:active, #premiumUnir:hover{
background-color: #ff0076;
color: #fff;
}

/*/Notas Fav/*/

.titNota{

  font-family: 'Roboto Slab', serif;
  size: 17px;
}

.desinscribirse{

  color: #8DD853;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #8DD853;
}


.divQS{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  width: 100%;
  border-top: 0.18rem solid #23ACA2;
}