.bodyAgenda{

    background-color: #ddf7f5;
}

.perfil{
    background-color: #fff;
    padding: 2% 4%;
    border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;

}

.vl {
    border-left: 1px solid grey;
    height: 100%;
  }