body{
    font-family: 'Roboto Slab', serif;
}


.titPag{
    color: #23ACA2;
    font-family: "Roboto Slab Bold";
}

.descQS{
    font-family: "Roboto Regular";
}

.listCheck{
    font-family: "Reforma2018 Blanca";
}


.parrafo2QS{
    font-family: "Roboto Medium";
}


.qSP{
    font-family: "Roboto Slab Bold";
}


.emailQS{
    margin-top: -4%;
    font-family: "Roboto Light"; 
}

.part1{
    background-color: #F4FBFA;
}

.imgContact{
    margin-top: 5%;;
}

.infoQS{
    margin-top: 10%;
}

.divQS{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 4rem;
    border: 0;
    width: 100%;
    border-top: 0.08rem solid #23ACA2;
  }

  li{
    list-style-type:  none;
  }