.titPag{
    color: #23ACA2;
    font-family: "Roboto Slab Bold";
}

.descQS{
    font-family: "Roboto Regular";
}

.listCheck{
    font-family: "Reforma2018 Blanca";
}

/* .listCheck::before{
    content:"✓";
    color: #8DD853;
} */

.parrafo2QS{
    font-family: "Roboto Medium";
}


.qSP{
    font-family: "Roboto Slab Bold";
}


.emailQS{
    margin-top: -4%;
    font-family: "Roboto Light"; 
}

.part1{
    background-color: #F4FBFA;
    height: 540px;
}

.imgContact{
    margin-top: 5%;;
}

.infoQS{
    margin-top: 10%;
}

.divQS{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    border: 0;
    width: 92%;
    border-top: 0.08rem solid #23ACA2;
  }

  li{
    list-style-type:  none;
  }

  .bordesTarjetas{
    padding: 2%;
    border-radius: 50px 50px 50px 50px;
-moz-border-radius: 50px 50px 50px 50px;
-webkit-border-radius: 50px 50px 50px 50px;
border: 4px solid #ffffff;
background-color: #ffffff;
line-height: 1.8;
text-align: justify;
}