

.barraSeccion {
    margin-top: 2%;
   font-size: 20px;
}


#tituloSeccion {
    color: black;
    margin-top: 5%;
    /* background-color: blueviolet; */

}

#seccion2, #seccion4, #seccion6 {
    background-color: #ddf7f5;
    
}

.secciones{
    margin-bottom: 3%;
}

#masSecc{
    background-color: #8DD853;
}

#seccion3, #seccion4 {
    display: none;

}

.carousel-item{
    background-color:unset !important;
}