.divSecciones{
    width: 100%;
    border-top: 0.1rem solid rgb(196, 193, 193);


  }


  .secCards{
      margin-left: 10%;
      margin-right: 10%;

  }

.tituloCategoria{
    font-family: "Roboto Slab";
}


.tituloNota{
    font-family: "Roboto Slab Bold";
    font-weight: bolder;
}


.resumenNota{
    font-family: "Roboto Light"; 
}

#tituloCategoria {
    color: black;
    margin-top: 5%;
    /* background-color: blueviolet; */
}

.btnNotasSecc{
    border: 1px solid #ff0076;
    background-color:  #ff0076;
    border-radius: 7px;
    color: #ffff;
    align-items: center;
    font-family: "Roboto Slab";
    padding: 0% 0% 0%;
}

.etiquetas{
font-family: "Roboto Regular";
color: #818181;
margin-left: 15%;
}

.autor{
    font-family: "Roboto Regular";
    color: #818181; 
    font-size: small;
}

 .titNotaMV {
    font-family: "Roboto Slab";
color: #000000;
width: 85% !important;
}


.card{
    width: 28% !important;
}


.imgFlecha{
    border: 1px solid grey;
padding: 1px;
} 