body{
    font-family: 'Roboto Slab', serif;
}

.barraSeccion {
    margin-top: 2%;
   font-size: 20px;
}


.tituloCategoria{
    font-family: "Roboto Slab Bold";
}


.tituloNota{
    font-family: "Roboto Slab Bold";
}


.resumenNota{
    font-family: "Roboto Light"; 
}

#tituloSeccion {
    color: black;
    margin-top: 5%;
    /* background-color: blueviolet; */

}

#seccion2, #seccion4, #seccion6 {
    background-color: #ddf7f5;
    
}

.secciones{
    margin-bottom: 3%;
    font-family: "Roboto Slab Bold";
}


#masSecc{
    background-color: #8DD853;
    font-family: "Roboto Slab Bold";

}

#seccion3, #seccion4 {
    display: none;

}

.carousel-item{
    background-color:unset !important;
}