@font-face{

  font-family: "Reforma2018 Negra";
  src: url(./tipografias/Reforma2018/Reforma2018-Negra.otf);

    font-family: "Reforma2018 Blanca";
    src: url(./tipografias/Reforma2018/Reforma2018-Blanca.otf);

    font-family: "Reforma2018 Blanca Italica";
    src: url(./tipografias/Reforma2018/Reforma2018-BlancaItalica.otf);

    font-family: "Reforma2018 Gris";
    src: url(./tipografias/Reforma2018/Reforma2018-Gris.otf);

    font-family: "Reforma2018 Gris Italica";
    src: url(./tipografias/Reforma2018/Reforma2018-GrisItalica.otf);

    font-family: "Reforma2018 Negra";
    src: url(./tipografias/Reforma2018/Reforma2018-Negra.otf);

    font-family: "Reforma2018 Negra Italica";
    src: url(./tipografias/Reforma2018/Reforma2018-NegraItalica.otf);

    font-family: "Roboto Black";
    src: url(./tipografias/Roboto/Roboto-Black.ttf);

    font-family: "Roboto Black Italic";
    src: url(./tipografias/Roboto/Roboto-BlackItalic.ttf);

    font-family: "Roboto Bold";
    src: url(./tipografias/Roboto/Roboto-Bold.ttf);

    font-family: "Roboto BoldCondensed";
    src: url(./tipografias/Roboto/Roboto-BoldCondensed.ttf);

    font-family: "Roboto BoldCondensedItalic";
    src: url(./tipografias/Roboto/Roboto-BoldCondensedItalic.ttf);

    font-family: "Roboto Bold Italic";
    src: url(./tipografias/Roboto/Roboto-BoldItalic.ttf);

    font-family: "Roboto Condensed";
    src: url(./tipografias/Roboto/Roboto-Condensed.ttf);

    font-family: "Roboto CondensedItalic";
    src: url(./tipografias/Roboto/Roboto-CondensedItalic.ttf);

    font-family: "Roboto Italic";
    src: url(./tipografias/Roboto/Roboto-Italic.ttf);

    font-family: "Roboto Light";
    src: url(./tipografias/Roboto/Roboto-Light.ttf);

    font-family: "Roboto LightItalic";
    src: url(./tipografias/Roboto/Roboto-LightItalic.ttf);

    font-family: "Roboto Medium";
    src: url(./tipografias/Roboto/Roboto-Medium.ttf);

    font-family: "Roboto Medium Italic";
    src: url(./tipografias/Roboto/Roboto-MediumItalic.ttf);

    font-family: "Roboto Regular";
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);

    font-family: "Roboto Thin";
    src: url(./tipografias/Roboto/Roboto-Thin.ttf);

    font-family: "Roboto ThinItalic";
    src: url(./tipografias/Roboto/Roboto-ThinItalic.ttf);

    font-family: "Roboto Specimen_Book";
    src: url(./tipografias/Roboto/Roboto_Specimen_Book.pdf);

    font-family: "Roboto Slab Bold";
    src: url(./tipografias/Roboto_Slab/RobotoSlab-Bold.ttf);

    font-family: "Roboto Slab Light";
    src: url(./tipografias/Roboto_Slab/RobotoSlab-Light.ttf);

    font-family: "Roboto Slab Regular";
    src: url(./tipografias/Roboto_Slab/RobotoSlab-Regular.ttf);

    font-family: "Roboto Slab Thin";
    src: url(./tipografias/Roboto_Slab/RobotoSlab-Thin.ttf);
  }